input:checked+label::before {
    content: "[X] ";
}

input:checked+label::after {
    color: #282;
    content: "yes";
    transition: color 0.1s;
}
input[type="submit"]:focus, input[type="button"]:focus {
    box-shadow: 0 50px 0 0 #fff inset;
    transition: box-shadow 0.2s;
}
.animated {
    top: 0;
    position: fixed;
    animation: notif ease-in-out 1 6s;
}

@keyframes notif {
    15% {
        box-shadow: 0 0 5px 3px black;
    }

    35% {
        max-height: 500px;
    }

    85% {
        max-height: 500px;
        box-shadow: 0 0 5px 3px black;
    }
}

.number {
    color: #353;
    font-size: 1.3em;
    font-family: monospace;
    text-shadow: 0 0 3px #992;
}
